#root {
    margin: 0 auto; 
    text-align: center;
    width :100% !important;   
  }
.parent-container{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.student-page-header {
    text-align: left;
    justify-content: center;
    height: 40vh;
    background-color: #BDBDBD;
    margin-top: 10vh;
    margin-bottom: 5vh;
    color: white;
    background-image: url("./../../image/student.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    padding: 100px;
}