.App {
  text-align: center;
}

.logo {
  height: 40px;
  width: 70px;
}
.nav{
  flex-direction: row;
}
.twitle{
  background-color: #FFFFFF;
}
.title {
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  min-height: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  color: white;
}


.App-link {
  color: #61dafb;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15px;
  background-color: #0257b8;
  text-align: center;
  color: white;
  font-size: xx-small;
}