

.logo {
  height: 40px;
  width: 70px;
  float: left;
}
.nav{
  flex-direction: row;
}
.twitle{
  background-color: #FFFFFF;
}
.title {
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  min-height: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  color: white;
}
